body {
  background-color: #9eabb156;
  font-family: 'Raleway', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.text-center.my-4 {
  background-color: #142326;
  color: #fff;
  padding: 20px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 40px;
}

.product-card {
  background-color: #fff;
  color: #000;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 100%;
  max-width: 300px;
}

.product-card:hover {
  transform: scale(1.02);
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-card h2 {
  font-size: 1.25em;
  margin-bottom: 10px;
  text-align: center;
}

.product-card p {
  font-size: 0.9em;
  margin-bottom: 5px;
  text-align: center;
}

.product-card .price {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.product-card .sold {
  font-size: 0.85em;
  color: gray;
  text-align: center;
  margin-top: 5px;
}

.product-card .sold img {
  margin-right: 5px;
  vertical-align: middle;
}

#products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Estilos de la rama master */

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding: 20px 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: linear-gradient(to right,#03423f, #0e0124);
  border-top: 0.0625rem solid #03396e;
  width: 100%;
  margin-top: 40px;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.login-container {
  background-color:#e0dcdc;
    padding: 2rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    width: 21.8rem;
 
}


h2 {
    text-align: center;
    margin-bottom: 1.25rem;
    color: #333;
    font-weight: bold;
}


label {
    display: block;
    margin-bottom: 0.2rem;
    color:#181717;
}


input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 1.5625rem;
    margin-top: -0.3125rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.625rem;
    box-sizing: border-box;
    font-weight: lighter;
}


input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #0011ff;
}


.btn-primary {
    background-color: #020f0a;
    color: white;
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    width: 100%;
}


.btn-primary:hover {
    background-color: #000ed9;
}

.soon-card {
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 300px; 
}

