/* Estilos generales de la página */
.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Estilos específicos de la página */
.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

/* Estilos de formularios de inicio de sesión */
input[type="text"],
input[type="password"] {
  font-family: 'Istok Web', sans-serif;
  border-radius: 1.25rem; 
  padding: 0.75em;
  border: 0.1em solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

button.btn-primary {
  font-family: 'Istok Web', sans-serif;
  background-color: #28a745; 
  border: none;
  border-radius: 0.5rem; 
  padding: 0.5em 1em; 
  width: 60%; 
  min-width: 9em; 
  max-width: 15em; 
  margin: 1em auto; 
  display: block; /* Aquí estaba el error */
  font-size: 1em; 
  text-align: center; 
}

.text-center {
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 1.5em; 
}

/* Estilo para los placeholders */
::placeholder {
  color: #6c757d; 
  opacity: 1;
  font-family: 'Istok Web', sans-serif;
}

/* Si hay prefijos para navegadores, asegúrate de incluirlos */
::-webkit-input-placeholder {
  color: #6c757d;
  font-family: 'Istok Web', sans-serif;
}

:-ms-input-placeholder {
  color: #6c757d;
  font-family: 'Istok Web', sans-serif;
}

::-ms-input-placeholder {
  color: #6c757d;
  font-family: 'Istok Web', sans-serif;
}

/* Otros 
