:root {
  --color-navbar: #461F56;
  --color-button: #EDC235;
  --color-button-hover: #FFD700;
  --color-footer: #0E0425;
  --color-text: #FFFFFF;
  --color-comment-text: #f1f1f1;
  --color-star: #EDC235;
}
/*GENERALES (aplican en todas las paginas)*/
body {
  background-color: #19181e;
  font-family: 'Raleway', sans-serif;
}

/*===BARRA DE NAVEGACIÓN===*/

/*Barra de navegación*/
nav{
  background-color: #461F56;
  border-radius: 20px;
  width: 80%;
  margin:auto;
}
/*botones, links*/
.navbar .navbar-nav .nav-link {
  color: #e05165;
  margin-left: 5rem;
  background-color: #EDC235;
  border-radius: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*===LOGIN===*/

.login-container {
  margin: auto;
  background-color: #100c1b; 
  padding: 2rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 1rem #ffcc31;
  width: 24rem;
}
.banner {
  margin-bottom: 20px; 
}
.banner img {
  max-width: 100%; 
  height: auto; 
  border-radius: 10px; 
}
.login-container h2{
  text-align: center;
  margin-bottom: 1.25rem;
  color: #EDC235;
  font-weight: bold;
}
.login-container label{
  color: #ffcc31;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.2em;
  display: block;
  margin-bottom: 0.2rem;
}
.login-container input[type="text"],
input[type="password"] {
  background-color: #d08794;
  width: 100%;
  padding: 0.625rem;
  border: 0.0625rem solid #693747;
  border-radius: 0.625rem;
  box-sizing: border-box;
  font-weight: lighter;
}
.login-container input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #edc235;
  background-color: #693747;
}
.login-container input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #190526;
}
.login-container .btn-primary {
  background-color: #e05165;
  color: #ffcc31;
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
  width: 100%;
}
.login-container .btn-primary:hover {
  background-color: #e21934;
}
.login-container .btn-secondary{
  color: #ffcc31;
  font-weight: bold;
  background: none;
  border: none;
  margin-top: 1rem;
}
.login-container .btn-secondary:hover {
  color: #e21934;
}

/*===PRODUCT-INFO===*/

#product-info main {
  background-color: #0E0425;
  width: 80%;
  margin: auto;
  border-radius: 20px;
}
#product-info main .container{
  margin-top: 2rem;
  padding: 2rem;
  padding-bottom: 2rem;
}
/*INFO DE PRODUCTOS*/

/* contenedor */
#product-info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: linear-gradient(to bottom, rgba(197, 66, 99, 0.8), rgba(70, 31, 86, 0.8));
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* imagen */
#product-info-container .col-md-6:first-child {
  flex: 1;
  margin-right: 20px;
}

#product-info-container .col-md-6 img {
  width: 100%; 
  height: auto;
  border-radius: 10px; 
}

/* carousel */
#product-images {
  margin-top: 20px;
}

#product-images .carousel-control-prev-icon,
#product-images .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); 
}

/* informacion */
#product-info-container .col-md-6:last-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#product-info-container h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #342803;
}

#product-info-container p {
  font-size: 1.1em;
  color: #f5efef;
  margin-bottom: 10px;
}

/* Precio*/
#product-price {
  font-size: 2em; 
  color: #efe8ec; 
}

/* Vendidos*/
#sold-count {
  color: rgba(245, 245, 245, 0.295); 
  font-size: 1em; 
}

/*info de productos*/
.text-center.my-4 {
  background: linear-gradient(to bottom, rgba(62, 1, 63, 0.936), rgba(114, 6, 105, 0.8));
  color: #d8f632;
  padding: 20px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 40px;
}

.product-card {
  background-color: #4f0645ac;
  color: #f5f5f3;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s;
  width: 100%;
  max-width: 300px;
}

.product-card:hover {
  transform: scale(1.02);
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5em;
  margin-bottom: 10px;
}

.product-card h2 {
  font-size: 1.25em;
  margin-bottom: 10px;
  text-align: center;
}

.product-card p {
  font-size: 0.9em;
  margin-bottom: 5px;
  text-align: center;
}

.product-card .price {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.product-card .sold {
  font-size: 0.85em;
  color: rgb(239, 229, 47);
  text-align: center;
  margin-top: 5px;
}

.product-card .sold img {
  margin-right: 5px;
  vertical-align: middle;
}

#products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Estilos de la rama master */

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding: 20px 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: linear-gradient(to right,#190526, #220344);
  width: 100%;
  margin-top: 40px;
}

footer p {
  color: rgb(255, 255, 255);
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}


.soon-card {
  background-color: rgba(222, 186, 219, 0.5); 
  color: white;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 300px; 
}

.text-center {
  text-align: center; /* Alinea el texto en el centro */
  font-size: 130%; /* Aumenta el tamaño de fuente */
  color:white /* Cambia el color del texto */
}

.p-4 {
  padding: 16px; /* Agrega padding de 16px en todos los lados */
}

.catName {
  font-weight: bold; /* Pone en negrita el texto */
  color: rgba(195, 236, 83, 0.872); /* Cambia el color de la categoría */
}

/* Estilos para el grupo de botones de ordenamiento */
.btn-group-toggle .btn {
  background-color: #f0f0f0; /* Color de fondo */
  border: 0.1em solid #ccc; /* Borde */
  color: #333; /* Color del texto */
  padding: 0.5rem 1rem; /* Espaciado interno */
  border-radius: 0.375rem; /* Bordes redondeados */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
}

/* Efecto hover para los botones de ordenamiento */
.btn-group-toggle .btn:hover {
  background-color: #e0e0e0; /* Color al pasar el mouse */
  color: #000; /* Color del texto al pasar el mouse */
}

/* Estilos para la sección de precio */
.text-end p {
  font-weight: bold; /* Negrita para el texto */
  color: #555; /* Color del texto */
}

/* Estilos para los botones de filtro */
.btn-group button {
  background-color: #a41f50d5; /* Color de fondo del botón */
  color: rgb(203, 240, 69); /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 0.375rem; /* Bordes redondeados */
  padding: 0.5rem 0.7em; /* Espaciado interno */
  transition: background-color 0.3s ease; /* Transición suave */
}

/* Efecto hover para los botones de filtro */
.btn-group button:hover {
  background-color: #f9f2f2a9; /* Color al pasar el mouse */
}


/* Estilo para la sección de calificación */

#opinion {
  width: 100%; /* Ancho completo */
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde gris */
  padding: 10px; /* Espaciado interno */
  margin-top: 0.5rem; /* Espaciado superior */
  resize: vertical; /* Permitir cambiar tamaño solo verticalmente */
  background-color: #ede3e8d3;
}

.rating-section {
  margin-top: 1.5rem;
  background: linear-gradient(to bottom, rgba(197, 66, 99, 0.8) 0%, rgba(70, 31, 86, 0.8) 100%);
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
  max-width: 50rem;
  border-radius: 1.5rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.3);
}

.rating-section h2 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.5em; /* Mantener tamaño relativo */
  margin-bottom: 2rem; /* 20px en rem */
  text-align: center;
  color: var(--color-text);
}

.star-rating {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem; /* 20px en rem */
}

.star-rating input {
  display: none; /* Esconder los inputs */
}

.star-rating label {
  font-size: 2.5em; /* Mantener tamaño relativo */
  color: #ccc; 
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

/* Estrellas doradas cuando están seleccionadas */
.star-rating input:checked ~ label {
  color: #FFD700;
}

/* Efecto hover para las estrellas */
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #FFD700;
}

/* Estilo para la sección de comentarios */
#comments-section {
  margin-top: 1.5rem;
  background: linear-gradient(to bottom, rgba(197, 66, 99, 0.8) 0%, rgba(70, 31, 86, 0.8) 100%);
  margin: 0 auto;
  padding: 1rem;
  max-width: 50rem;
  border-radius: 1.5rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.3);
  color: white
}

.comment {
  border-bottom: 0.1rem solid #ddd;
  padding: 1rem 0;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.comment-header .user {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #330224;
}

.comment-header .date {
  font-size: 0.9em;
    color: #ccc;
    margin-left: 1rem;
}

.comment-rating {
  color: #ffdf00;
  margin-right: 1rem;
  font-size: 1.5em;
}

.comment-text {
  margin-top: 0.9rem;
  font-size: 1em;
  color: #f1f1f1;
  line-height: 1.5em;
}

/*===PRODUCTOS RELACIONADOS===*/
#related-products-container {
  margin-top: 2rem;
  background: linear-gradient(to bottom, rgba(224, 78, 114, 0.5), rgba(70, 31, 86, 0.8));
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 414px;
}

#related-products h3 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.2em; /* 20% */
  text-align: center;
  color: var(--color-text);
  margin-bottom: 1rem;
}

#related-products .row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
